{% extends 'index.html' %}

{% block navbutton %}
    <a href="{% url 'home' %}"
    ><button type="button">Home</button></a>
{% endblock %}

{% block title %}Updating Task Details

<h4>&#10146; {{task.description}} </h4>
{% endblock %}

{% block form %}
    <form action="{% url 'task' task.id %}" method="POST">
        {% csrf_token %}
        {{ update_form }}
        <input type="submit" name="update" value="Update" />
        <input type="submit" name="delete" value="Delete" />
        <input type="submit" name="pending" value="Pending" />
        <input type="submit" name="complete" value="Completed" />
    </form>
{% endblock %}

{% block content %}

<hr/>

<h3>Tags</h3>

    <ul style="list-style: none">
        {% for tag in tags %}
        <li style="display: inline-block; padding: 0 5px; background: rgb(235, 235, 235)">
            <a href="#" onclick="(({{event}}) =>
            document.getElementById('tag').children[2].value = event.target.innerText
            )()" style="text-decoration: none">{{ tag.name }}</a>
        </li>
        {% endfor %}

    </ul>

    <form id="tag" action="{% url 'task' task.id %}" method="POST">
        {% csrf_token %}
        {{ tag_form }}
        <input type="submit" name="tag" value="Add" />
        <input type="submit" name="untag" value="Remove" />
        <h6>* to remove a Tag, click it and press Remove *</h6>
    </form>

    <hr/>

    <h3>Comment on Task</h3>

    <form id="comment" action="{% url 'task' task.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" name="comment" value="Add" />
        <input type="submit" name="remove" value="Remove" />
    </form>

    {% if comments %}
    <h3>Click a comment and click Remove to remove:</h3>
    {% endif %}

    <ul style="list-style-type: '\1F537'">
        {% for comment in comments %}
        <li>
            <a href="#" onclick="(({{event}}) =>
            document.getElementById('comment').children[1].value = event.target.innerText.trim()
            )()" style="text-decoration: none">&nbsp;{{ comment.content }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}